@model UNO.AppModel.UserModel
@{
    ViewBag.Title = "USER";
}


<script></script>

<div class="main-container" style="clear:both;">
    <!-- Container fluid Starts -->
    <div id="main-content" class="container-fluid">
        <!-- Spacer Starts -->
        <div class="spacer clearfix">
            <div class="row">
                <div class="col-md-7 col-centered">
                    <div class="blog blog-default ">
                        <div class="blog-header ">
                            <h4 class="blog-title pull-left mt5">View </h4><span class="pull-right">  <a class="btn btn-default" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a></span>
                            <span class="clearfix"></span>
                        </div>

                        <div class="blog-body form p0">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.USER_ID)
                                 <div class="form-horizontal form-bordered form-label-stripped">
                                     <div class="form-body p0">
                                         <div class="form-group">
                                                 @Html.LabelFor(model => model.USER_CODE, null, new { @class = "control-label col-md-3" })
                                             <div class="col-md-9">
                                                 @Html.TextBoxFor(model => model.USER_CODE, new { @class = "form-control", disabled = "disabled", @maxlength = "50" })
                                                 </div>
                                                 @Html.ValidationMessageFor(model => model.USER_CODE, null, new { @class = "validation-redcolor" })
                                             </div>
                                         <div class="form-group">
                                             @Html.LabelFor(model => model.ROLE_ID, null, new { @class = "control-label col-md-3" })
                                             <div class="col-md-9">
                                                 @Html.DropDownListFor(model => model.ROLE_ID, (IEnumerable<SelectListItem>)ViewBag.RoleId, "Select Sub Module", new { @class = "form-control", disabled = "disabled" })
                                             </div>
                                             @Html.ValidationMessageFor(model => model.ROLE_ID, null, new { @class = "validation-redcolor", @style = "position:relative;  top:20px;" })
                                         </div>
                                         <div class="form-group">
                                             @Html.LabelFor(model => model.COMPANY_ID, null, new { @class = "control-label col-md-3" })
                                             <div class="col-md-9">
                                                 @Html.DropDownListFor(model => model.COMPANY_ID, (IEnumerable<SelectListItem>)ViewBag.CompanyId, "Select Module", new { @class = "form-control", disabled = "disabled" })
                                             </div>
                                             @Html.ValidationMessageFor(model => model.COMPANY_ID, null, new { @class = "validation-redcolor", @style = "position:relative;  top:20px;" })
                                         </div>
                                     </div>
                                </div>
                                <div class="clearfix"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

