@model IEnumerable<UNO.AppModel.Zone>

@{
    ViewBag.Title = "ZONE MASTER";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-container" style="clear:both;">
        <!-- Container fluid Starts -->
        <div class="container-fluid">
            <!-- Spacer Starts -->
            <div class="spacer clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog blog-default ">
                            <div class="blog-header ">
                                <h4 class="blog-title pull-left mt5">Listing</h4> <div class="dt-buttons pull-right"><a class="btn btn-default" href="#"><span><i class="fa fa-print"></i> Print</span></a> <a class="btn btn-default" href="#"><span><i class="fa fa-file-excel-o"></i> Excel</span></a></div>
                                <span class="clearfix"></span>
                            </div>
                            <div class="blog-body">
                                <div class="table-responsive">
                                    <!--<button class="btn btn-info" data-toggle="modal" data-target="#modalsm"><i class="fa fa-plus-circle"></i> Create New</button>-->
                                    <!-- Modal -->

                                    <div id="dt_example" class="table-responsive example_alt_pagination clearfix">
                                        <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="lsttable">
                                            <thead>
                                                <tr>
                                                    @*<th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>*@
                                                    <th>Sr</th>
                                                    <th>@Html.DisplayNameFor(model => model.ZONE_DESCRIPTION)</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
    int i = 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        @*<td><input type="checkbox" name="ZONE_ID" id="ZONE_ID" value="@item.ZONE_ID" class="custom-checkbox chkCheckBoxId" /></td>*@
                                                        <td>@i</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ZONE_DESCRIPTION)</td>
                                                        <td>
                                                            @Html.ActionLink(" ", "Details", new { id = item.ZONE_ID }, new { title = "View", @class = "fa fa-eye btn btn-success btn-sm" })
                                                            <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.ZONE_ID })" title="Edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ZONE_ID })" title="Delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                            @*@Html.ActionLink(" ", "View", new { id = item.ZONE_ID }, new { title = "View", @class = "fa fa-eye btn btn-success btn-sm" })*@
                                                            <a id="deleteItem" class="deleteItem btn btn-danger" href="javascript:void(0)" style="display:none"
                                                               data-target="#modalSm" data-toggle="modal"
                                                               data-path="@Url.Action("Delete", "Zone", new { id = @item.ZONE_ID })"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                    @*<a id="btnDeleteAll" class="deleteItem btn btn-danger" href="javascript:void(0)"
                                        data-target="#modalSm" data-toggle="modal"
                                        data-path="@Url.Action("Index", "Controller")"><i class="fa fa-check"></i>&nbsp;&nbsp;Delete Selected</a>*@

                                    <span><label id="lblMsg" class="text-danger"></label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Spacer Ends -->
    </div>
}



<script type="text/javascript">

    var createNewPage = '@Url.Action("Create", "Zone")';
    $(document).ready(function () {

        // $('#data-table').DataTable();

        if ('@ViewBag.CreateAccess' == "False") {
            $(".btnCreateNew").hide();
        }
        if ('@ViewBag.ViewAccess' == "False") {
            $(".btn-success").hide();
        }
        if ('@ViewBag.EditAccess' == "False") {
            $(".btn-info").hide();
        }
        if ('@ViewBag.DeleteAccess' == "False") {
            $(".btn-danger").hide();
        }

        $('#lsttable').dataTable({
            "sPaginationType": "full_numbers",
            dom: 'lBfrtip',
            "bInfo": true,
            oLanguage: {
                sLengthMenu: "Show: _MENU_",
            },
            columns: [
                //{
                //    "searchable": false,
                //    "orderable": false,

                //},
                null,
                null,
                {
                    "searchable": false,
                    "orderable": false
                }
            ],
            buttons: [
                {
                    text: '<i class="fa fa-plus-circle"></i> Add New',
                    action: function myFunction() {
                        location.href = createNewPage;
                    },
                    attr: {
                        id: 'btnCreateNew'
                    }
                }
                @*,{
                    text: '<i class="fa fa-check"></i>&nbsp;&nbsp;Delete Selected',
                    action: function myFunction() {
                        location.href = "javascript:void(0)";
                    },
                    attr: {
                        'id': 'btnDeleteAll',
                        'class': "deleteItem btn btn-danger",
                        'data-target': "#modalSm",
                        'data-toggle': "modal",
                        'data-path': "@Url.Action("Index", "Zone")",
                }
            }*@
        ]

        });

    });
   
</script>
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZONE_DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPANY_ID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZONE_DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPANY_ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ZONE_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ZONE_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ZONE_ID })
            </td>
        </tr>
    }

    </table>*@
