@model UNO.AppModel.WeeklyOff
 @{
    ViewBag.Title = "Weekend / Weekly Off";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script>
        $(document).ready(function () {
            new confirmexitmsg('form');
            $("#btnReset").click(function (e) {
                formmodified = 0;
                location.reload(true);
            });
            });
    </script>
}
<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        $(document).ready(function () {
            $(".Add1").hide();
        });
        $(document).ready(function() {
        var address = $('.Add1');
        // handle the change event of all radio button inside elements with class="delivery"
        $('.UserType').change(function () {
            debugger;
            var value = $(this).filter(':checked').val();
            if (value == "WeekEnd") {
                $('.Add1').show();
            }
            else {
                $('.Add1').hide();
            }
        });
        });
    </script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- Container fluid Starts -->
    <div class="container-fluid">
      <!-- Spacer Starts -->
      <div class="spacer clearfix">
       <div class="row">
          <div class="col-md-7 col-centered">
            <div class="blog blog-default ">
             <div class="blog-header ">
                 <h4 class="blog-title pull-left mt5"><i class="fa fa-pencil-square-o"></i> Add New</h4>
                 <span class="pull-right"><a class="btn btn-default" href='@Url.Action("index")'><i class="fa fa-arrow-left"></i> Back To List</a></span>
                 <span class="clearfix"></span>    
                     </div>
                    <div class="blog-body form p0">
                          <div class="form-horizontal form-bordered form-label-stripped" role="form">
                          <div class="form-body p0">
                          <div class="form-group">
                              @Html.LabelFor(model => model.COMPANY_ID, null, new { @class = "control-label col-md-3" })
                               <div class="col-md-9">
                                   @Html.DropDownListFor(model => model.COMPANY_ID, (IEnumerable<SelectListItem>)ViewBag.CompanyId, "Select Company", new { @class = "form-control" })
                                   @Html.ValidationMessageFor(model => model.COMPANY_ID, null, new { @class = "text-danger field-validation-error" })
                               </div>
                           </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MWK_DESC, null, new { @class = "control-label col-md-3" })
                             <div class="col-md-9">
                                 @Html.TextBoxFor(model => model.MWK_DESC, new { @class = "form-control" })
                                 @Html.ValidationMessageFor(model => model.MWK_DESC, null, new { @class = "text-danger field-validation-error" })
                           
                             <label class="radio-inline">
                                 @Html.RadioButtonFor(model => model.MWK_OFF, "0", new { @name = "MWK_OFF" })Week Off
                           </label>
                           <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.MWK_OFF, "1", new { @name = "MWK_OFF" })Week End
                           </label>
                           </div>
                           </div>                                             
                           <div class="form-group">
                            @Html.LabelFor(model => model.MWK_DAY, null, new { @class = "control-label col-md-3" })
                           <div class="col-md-9">
                            @Html.DropDownListFor(model => model.MWK_DAY, (IEnumerable<SelectListItem>)ViewBag.Day, "Select Day", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MWK_DAY, null, new { @class = "text-danger field-validation-error" })
                           </div>
                           </div>
                           <div class="form-group">
                                 <label class="control-label col-md-3">Tag</label>
                                 <div class="col-md-9">
                                  <label class="radio-inline">
                               @Html.RadioButtonFor(model => model.MWK_PAT, "1,2,3,4,5", new { @name = "MWK_OFF", @class = "UserType", @Checked = "checked" })All
                            </label>
                                                                                                                <label class="radio-inline">
                             @Html.RadioButtonFor(model => model.MWK_PAT, "2,4", new { @name = "MWK_OFF", @class = "UserType" })Even
                            </label>
                             <label class="radio-inline">
                             @Html.RadioButtonFor(model => model.MWK_PAT, "1,3", new { @name = "MWK_OFF", @class = "UserType" })Odd
                            </label>
                            <label class="radio-inline">
                             @Html.RadioButtonFor(model => model.MWK_PAT, "WeekEnd", new { @name = "MWK_OFF", @class = "UserType" })Userdefined
                            </label>
                            <div class="clearfix"></div>
                             <div class="Add1" style="display:block">
                                <hr/>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.FSTMWK)FIRSTWEEK
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.SECMWK)SECONDWEEK
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.THDMWK)THIRDWEEK
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.FURMWK)FOURTHWEEK
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.FIFMWK)FIFTHWEEK
                                </label>
                             </div>
                             </div>
                            </div>  
                          </div>                                          
                          </div>
                       <div class="form-actions">
                          <div class="row">
                             <div class="col-md-12 text-center">
                              <button type="submit" class="btn btn-sm btn-success" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                              <button type="button" class="btn btn-sm btn-danger" id="btnReset"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                             </div>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    <!-- Spacer Ends -->
}
