@model UNO.AppModel.EmployeeCardConfig
@{
    ViewBag.Title = "Edit";
}



@section scripts
{
    
    <script>
        $(document).ready(function () {
            $("#btnReset").click(function (e) {
                formmodified = 0;
                location.reload(true);
            });

            var dateToday = new Date();
            var dates = $("#ACTIVATION_DATE, #EXPIRY_DATE").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                minDate: dateToday,
                onSelect: function (selectedDate) {
                    var option = this.id == "from" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });



                

            
        });
    </script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="main-container" style="clear:both;">
    <!-- Container fluid Starts -->
    <div id="main-content" class="container-fluid">
        <!-- Spacer Starts -->
        <div class="spacer clearfix">
            <div class="row">
                <div class="col-md-7 col-centered">
                    <div class="blog blog-default ">
                        <div class="blog-header ">
                            <h4 class="blog-title pull-left mt5">Edit </h4><span class="pull-right">  <a class="btn btn-default" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a></span>
                            <span class="clearfix"></span>
                        </div>
                        <div class="blog-body form p0">
                            @Html.HiddenFor(m => m.CC_EMP_ID)
                                <div class="form-horizontal form-bordered form-label-stripped">
                                    <div class="form-body p0">
                                        
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ACTIVATION_DATE)
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(m => m.ACTIVATION_DATE, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EXPIRY_DATE)
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(m => m.EXPIRY_DATE, new { @class = "form-control" })
                                            </div>
                                        </div>                                        
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.USE_COUNT)
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(m => m.USE_COUNT, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.STATUS)
                                            <div class="col-md-9">
                                               
                                                @Html.DropDownListFor(modelItem => modelItem.STATUS, new[] { new SelectListItem { Text = "True", Value = "True" }, new SelectListItem { Text = "False", Value = "False" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span><label id="lblErrorMsg" class="text-danger"></label></span>
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-sm btn-success" id="btnUpdate"><i class="fa fa-save"></i>&nbsp;&nbsp;Update</button>
                                            <button type="button" class="btn btn-sm btn-danger" id="btnReset"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    



}



