@model UNO.AppModel.EssTaOdReqModel
@{
    ViewBag.Title = "Delete OD Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/JS/jquery.datetimepicker.full.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
    <script>
        $(document).ready(function () {
            new confirmexitmsg('form');
            $("#btnReset").click(function (e) {
                formmodified = 0;
                location.reload(true);
            });
        });
    </script>
}
@Styles.Render("~/Content/css/jquery.datetimepicker.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- Container fluid Starts -->
    <div class="container-fluid">
        <!-- Spacer Starts -->
        <div class="spacer clearfix">
            <div class="row">
                <div class="col-md-7 col-centered">
                    <div class="blog blog-default ">
                        <div class="blog-header ">
                            <h4 class="blog-title pull-left mt5"><i class="fa fa-pencil-square-o"></i> Delete</h4>
                            <span class="pull-right"><a class="btn btn-default" href='@Url.Action("index")'><i class="fa fa-arrow-left"></i> Back To List</a></span>
                            <span class="clearfix"></span>
                        </div>
                        <div class="blog-body form p0">
                            <div class="form-horizontal form-bordered form-label-stripped" role="form">
                                <div class="form-body p0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ESS_OD_ID, null, new { style = "display: none;", @maxlength = "15" })
                                        @Html.TextBoxFor(model => model.ESS_OD_ID, new { style = "display: none;", @maxlength = "15" })
                                      
                                        <div class="col-md-9">
                                            @Html.LabelFor(model => model.ESS_OD_FROMDT, null, new { @class = "control-label col-md-3" })
                                            @Html.TextBoxFor(model => model.ESS_OD_FROMDT, new { @class = "form-control", placeholder = "Enter Drop-off date here..." })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-9">
                                            @Html.LabelFor(model => model.ESS_OD_TODT, null, "")
                                            @Html.TextBoxFor(model => model.ESS_OD_TODT, new { @class = "form-control", placeholder = "Enter Drop-off date here..." })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-9">
                                            @Html.LabelFor(model => model.ESS_OD_REODRK, null, "")
                                            @Html.TextBoxFor(model => model.ESS_OD_REODRK, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ESS_OD_REODRK, null, new { @class = "validation-redcolor" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-9">
                                            @Html.LabelFor(model => model.ESS_OD_REASON_ID, null, "")
                                            @Html.DropDownListFor(model => model.ESS_OD_REASON_ID, (IEnumerable<SelectListItem>)ViewBag.ReasonId, "Select REASON", new { @class = "form-control", @id = "Country" })
                                            @Html.ValidationMessageFor(model => model.ESS_OD_REASON_ID, null, new { @class = "validation-redcolor" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-sm btn-success" id="btnDelete"><i class="fa fa-save"></i>&nbsp;&nbsp;Delete</button>
                                        <button type="button" class="btn btn-sm btn-danger" id="btnReset"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Spacer Ends -->
}
